.env
.env.*
*.env

.git
.github
.gradle
.idea
docs
README.md
HELP.md

**/src
**/out
**/target
**/build/classes
**/build/generated
**/build/resources
**/build/tmp
**/build/reports
**/build/test-results

*.iml